
body{
    margin: auto;
    padding: auto;
}
.menu{
    background-color: rgb(228, 100, 26);
    height: 90px;
}
.corpo{
    background-color: rgba(0, 0, 0, 0.692);
    height: 500px;
}
.alert{
    width: 200px;
    margin: auto;
    border-radius: 30px;
}
.rodape{
    background-color: rgba(15, 161, 180, 0.664);
    height: 200px;
}